SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'cleaned_data'
ORDER BY ORDINAL_POSITION;
SELECT
    machine_id,
    date_parsed AS day,
    
    -- Convert textual downtime safely
    SUM(
        CASE
            WHEN TRY_CAST(downtime AS INT) = 1 THEN 1
            WHEN LOWER(LTRIM(RTRIM(downtime))) IN ('1','yes','y','true','t') THEN 1
            ELSE 0
        END
    ) AS total_downtime,

    AVG(hydraulic_pressurebar) AS avg_hydraulic_pressurebar,
    AVG(coolant_pressurebar) AS avg_coolant_pressurebar,
    AVG(spindle_vibrationm) AS avg_spindle_vibrationm,
    AVG(tool_vibrationm) AS avg_tool_vibrationm,
    AVG(spindle_speedrpm) AS avg_spindle_speedrpm

FROM dbo.cleaned_data
GROUP BY machine_id, date_parsed
ORDER BY machine_id, day;
SELECT *
FROM dbo.cleaned_data
ORDER BY ingestion_time;
SELECT
 SUM(CASE WHEN hydraulic_pressurebar IS NULL THEN 1 ELSE 0 END) AS null_hydraulic_pressurebar,
 SUM(CASE WHEN coolant_pressurebar IS NULL THEN 1 ELSE 0 END) AS null_coolant_pressurebar,
 SUM(CASE WHEN spindle_vibrationm IS NULL THEN 1 ELSE 0 END) AS null_spindle_vibrationm,
 SUM(CASE WHEN downtime IS NULL THEN 1 ELSE 0 END) AS null_downtime
FROM dbo.cleaned_data;
SELECT COUNT(DISTINCT machine_id) AS distinct_machines
FROM dbo.cleaned_data;
SELECT COUNT(*) FROM dbo.cleaned_data;
SELECT downtime, COUNT(*) AS cnt
FROM dbo.cleaned_data
GROUP BY downtime;
UPDATE cleaned_data
SET year = YEAR(date_parsed),
    month = MONTH(date_parsed),
    day = DAY(date_parsed);
UPDATE cleaned_data
SET temp_diff = coolant_temperature - hydraulic_oil_temperaturec,
    vibration_total = spindle_vibrationm + tool_vibrationm;
SELECT
    machine_id,

    COUNT(*) AS total_records,

    -- total downtime
    SUM(
        CASE
            WHEN TRY_CAST(downtime AS INT) = 1 THEN 1
            WHEN LOWER(LTRIM(RTRIM(downtime))) IN ('1','yes','y','true','t') THEN 1
            ELSE 0
        END
    ) AS total_downtime,

    -- failure rate
    CAST(
        SUM(
            CASE
                WHEN TRY_CAST(downtime AS INT) = 1 THEN 1
                WHEN LOWER(LTRIM(RTRIM(downtime))) IN ('1','yes','y','true','t') THEN 1
                ELSE 0
            END
        ) * 1.0
        / NULLIF(COUNT(*), 0)
    AS DECIMAL(10,4)) AS failure_rate,


    AVG(hydraulic_pressurebar) AS avg_hydraulic_pressurebar,
    AVG(coolant_pressurebar) AS avg_coolant_pressurebar,
    AVG(air_system_pressurebar) AS avg_air_system_pressurebar,
    AVG(spindle_vibrationm) AS avg_spindle_vibrationm,
    AVG(tool_vibrationm) AS avg_tool_vibrationm,
    AVG(spindle_speedrpm) AS avg_spindle_speedrpm,
    AVG(voltagevolts) AS avg_voltagevolts,
    AVG(torquenm) AS avg_torquenm,
    AVG(cuttingkn) AS avg_cuttingkn

FROM dbo.cleaned_data
GROUP BY machine_id
ORDER BY machine_id;
